<div class="card w-100">
    <div class="card">
        <div class="card-header">
          <h2>School Details</h2>
          <a routerLink="/schools"  class="btn btn-default btn-lg">
            Back to School List
          </a>  
        </div>
        <div class="card-block">
          <div class="container">
            <h3  class="card-title">{{ school.schoolName }}
            </h3>
            <dl class="list">
              <dt>WebSite</dt>
              <dd>{{ school.webSite }}</dd>
              <dt>Gender</dt>
              <dd>{{ school.gender }}</dd>
              <dt>Contact Name</dt>
              <dd>{{ school.contactName }}</dd>
              <dt>Contact Number</dt>
              <dd>{{ school.contactNo }}</dd>
              <dt>Email</dt>
              <dd>{{ school.email }}</dd>
            </dl>
          </div>
          <div class="row">
              <div class="col-md-12">
                <a [routerLink]="['/school-edit', school._id]" class="btn btn-success">EDIT</a>
                <button class="btn btn-danger" type="button" (click)="deleteBook(school._id)">DELETE</button>
              </div>
          </div>
        </div>    
      </div>
</div>

